$mainColor: #32679c;

.App {
  text-align: center;
  .ant-table-container {
    background-color: white;
    border: 1px solid $mainColor;
  }
  .ant-table-thead {
    background-color: $mainColor;
  }
  .ant-table-thead > tr > th {
    background: transparent;
    color: white;
  }
  .ant-table-tbody {
    tr:nth-child(even) {
      background: #e3f1fe;
    }
  }
}

.App-content {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .App-both-end {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $mainColor;
    color: white;
    height: 75px;
    width: 100%;
    font-size: 20px;
    .row-header {
      font-size: 28px;
    }
    .current-time {
      position: absolute;
      top: 24px;
      right: 10px;
      font-size: 18px;
    }
  }
  .mid-content {
    flex: 1;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    .video-wrap, .data-list {
      flex: 1;
      flex-shrink: 0;
      padding: 10px 8px;
      box-sizing: border-box;
      overflow-y: auto;
      video {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }
  .App-row {
    width: 100%;
  }
}
// more
.ant-table-wrapper {
  max-width: 100%;
//   .ant-table {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     color: rgba(0, 0, 0, 0.65);
//     font-variant: tabular-nums;
//     line-height: 1.5715;
//     list-style: none;
//     -webkit-font-feature-settings: 'tnum';
//     font-feature-settings: 'tnum', "tnum";
//     position: relative;
//     z-index: 0;
//     clear: both;
//     font-size: 14px;
//     background: #fff;
//     border-radius: 2px;
// }
// .ant-table-header {
//   overflow: hidden;
// }
.table-box {
  // margin: 100px auto;
  // width: 1024px;
}

/* 滚动条宽度 */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
  background-color: #27314d;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

// table caption{
//   font-weight: bold;
//   font-size: 24px;
//   line-height: 50px;
// }

table th, table td {
  height: 50px;
  text-align: center;
  border: 1px solid gray;
}

table thead {
  color: white;
  background-color: #38F;
}

table tbody {
  display: block;
  width: calc(100% + 8px); /*这里的8px是滚动条的宽度*/
  height: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

table tfoot {
  background-color: #71ea71;
}

table thead tr, table tbody tr, table tfoot tr {
  box-sizing: border-box;
  table-layout: fixed;
  display: table;
  width: 100%;
}

table tbody tr:nth-of-type(odd) {
  background: #EEE;
}

table tbody tr:nth-of-type(even) {
  background: #FFF;
}

table tbody tr td{
  border-bottom: none;
}
}